/*
.bg{
    background-image: url('/src/assets/images/EU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    height: 100vh;
    width: 100vw;
    filter: greyscale(100%);
}
*/

body{
    background: rgb(9,21,45);
    background: linear-gradient(150deg, rgba(9,21,45,1) 0%, rgba(14,43,145,1) 79%);
}