#unobtainedCoin{
    filter: grayscale(100%);
}

#obtainedCoin{
    animation: pulse 2.5s infinite;
}

.coin img{
    width: 75px;
    height: 75px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
