#unobtainedCoin{
    filter: grayscale(100%);
    mix-blend-mode: darken; ;
}

#obtainedCoin{
    animation: coin 2s infinite;
}

@keyframes coin{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}