.collection{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.collection ul{
    margin-top: 13vh;
    padding: 0 4vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    row-gap: 2rem;
    column-gap: 3rem;
    justify-items: center;
}

li{
    list-style: none;
    background-color: #fff;
    border-radius: 15px;
    width: 107px;
    height: 155px;
}

li:hover{
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

.coinCard{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h3{
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 0rem;
}

#countryName{
    margin-top: 1rem;
}

#link{
    text-decoration: none;
}