#collection{
    width: 100%;
    justify-content: center;
    align-items: center;
}

#collection ul{
    margin-top: 4vh;
    padding: 0 4vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    row-gap: 2rem;
    column-gap: 3rem;
    justify-items: center;
}

#coin-img{
    text-align: center;
}

#coin-name{
    margin-top: 1rem;
    text-align: center;
}

li{
    list-style: none;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 1rem;
    width: auto;
    height: auto;
    max-width: 107px;
    max-height: 155px;
}

li:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

img{
    width: 75px;
    height: 75px;
}

h3{
    font-size: 0.75rem;
}