#header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10vh;
    padding: 0 6vw;
    font-size: calc(10px + 2vmin);
    backdrop-filter: blur(10px) grayscale(0.5) brightness(0.1);
    width: 100vw;
    text-align: center;
    position: fixed; 
    z-index: 1;
}

#headerSpacer{
    margin-top: 10vh;
}

#header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


#logo{
    flex: 1;
}

#home{
    flex: 0;
}

#user{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#logoicon:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
