#header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 10vh;
    padding: 0 6vw;
    font-size: calc(10px + 2vmin);
    backdrop-filter: blur(10px) grayscale(0.5) brightness(0.1);
    width: 100vw;
}


#logo{
    flex: 1;
}

#home{
    flex: 0;
}

#user{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.fa-solid{
}