//Render a div for each country with the name of the country and a link to the collection of that country
//The link is a react-router-dom Link that redirects to the collection of that country
//The divs are organized in a grid, where you have a card for each country, with the name of the country and the image of a folder
//Clicking anywhere in the card redirects to the collection of that country
//The grid is responsive, with 2 column in mobile, and 4 columns in desktop



.home{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home ul{
    margin-top: 13vh;
    padding: 0 4vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    row-gap: 2rem;
    column-gap: 3rem;
    justify-items: center;
}

li{
    list-style: none;
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    width: auto;
    height: auto;
    max-width: 107px;
    max-height: 155px;
}

li:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

.folderImage{
    width: 90px;
    height: 75px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h2{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: #000;
}

#link{
    text-decoration: none;
    display: block;
}

.folderImage{
    pointer-events: none;
}